<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Memory Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    -->
    <script src="angular.js"></script>
    <script src="memory-game.js"></script>
  </head>

  <body>
    <div ng-app="memory-game" ng-init="card.open" ng-controller="gameController">
      <div class="" style="text-align:center;">
        <h1>{{winmessage}}</h1>
        <div class="cont">
          <div class="img-cont" ng-repeat="card in gameCards">
            <button ng-show="card.open"><img ng-src="{{card.url}}"/></button>
            <button ng-hide="card.open" ng-click="firstCard(card)"><img src="images/logo-bw.png"/></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
